@mixin colorize {
  $color: pink;
  color: $color;
}

$color: red;

.first {
  // $color: red;
  color: $color;
}

.second {
  $color: blue;
  color: $color;
}

.third {
  // $color: red;
  color: $color;
}

.fourth {
  @include colorize();
}

.fifth {
//  $color: purple;
  color: $color;
}

$color: purple;

.sixth {
  color: $color;
}