* {
  box-sizing: border-box;
}

$color-white: #fff;
$color-black: #000;
$font-size: 18px;

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  background: url('/images/fall.jpg') center center no-repeat;
  background-color: $color-black;
  font-family: 'Open Sans', sans-serif;
}


.contact-info {
  $contact-size: 300px;
  font-size: $font-size;
  font-weight: 300;
  background-color: $color-black;
  position: absolute;
  height: $contact-size;
  width: $contact-size;
  top: 50%;
  left: 50%;
  margin-top: -$contact-size/2;
  margin-left: -$contact-size/2;
  color: $color-white;
  line-height: 1.7;
  letter-spacing: 1px;

  padding: ($contact-size/2 - $font-size) 0;
  box-shadow:
    0 0 0 1px $color-white,
    0 0 0 .9em $color-black;

  a {
    color: $color-white;
    display: block;
    text-align: center;

    &:visited {
      color: $color-white;
    }
  }

}